{% extends 'director/base.html.twig' %}

{% block title %}Edytuj podziękowanie - Panel dyrektora{% endblock %}

{% block director_body %}
    <div class="container mt-4">
        <div class="alert alert-info">
            <h4 class="alert-heading">System darowizn został zastąpiony</h4>
            <p>
                System bezpośrednich darowizn został zastąpiony systemem afiliacyjnym. 
                Edycja podziękowań nie jest już dostępna.
            </p>
            <p>
                Aby zarządzać marzeniami, przejdź do <a href="{{ path('director_dream_list') }}">listy marzeń</a>.
            </p>
        </div>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Powrót do strony głównej</a>
    </div>
{% endblock %}
